.container{
    border-bottom: 1px solid gray;
}
.item{
    font-size: 16px;
    font-weight: bold;
}
.category{
    font-size: 14px;
}
.price{
    color: #0000ff;
}

.albumCoverDisplay {
    width: 500px;
    height: 500px;
}

.modal-body .modal-title .card-body {
    text-align: center;
}
